/* InstructionsModal.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(84, 81, 84, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: #312B2D;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 58%;
  max-height: 86%;
  color: #BBBBBB;
  font-weight: 300;
  font-size: x-large;
  padding-left: 1.3em;
  padding-right: 1.3em;
  overflow: auto;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instructions {
  white-space: pre-wrap;
}

/* Additional CSS styles for the modal content */
#help {
  line-height: 1em;
  overflow: auto;
  pointer-events: auto;
}

#help p,
#help span {
  margin: 0;
  padding: 0;
}

#help .help_termo {
  white-space: pre-wrap;
}

.example {
  display: inline-flex;
  height: 7.6vh;
  color: white;
  margin-top: 1em;
}

.example .letter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #4c4347;
  border-radius: 5px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 1.1em;
  cursor: default;
  padding: 0.5em;
  width: 3.6vw; 
}


#help .letter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #4c4347;
  border-radius: 5px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 1.1em;
  cursor: default;
  padding: 0.5em;
}

#help .right {
  background-color: #3aa394;
  border: 3px solid #3aa394;
  color: white;
}

#help .exists {
  background-color:#D3AD69;
  border: 5px solid #D3AD69;
  color: white;
}

#help .wrong {
  background-color: #191516;
  border: 5px solid #191516;
  color: #5E5C5C;
}

.help .place {
  background-color: #f0f0f0;
}

.help p {
  margin-top: 1em;
}

.paragraphContainer {
  height: 12vh;
  width: 100%;
  display: inline-flex;
}

.help_multi {
  white-space: pre-wrap;
  display: inline-flex; 
  align-items: center; 
}

.paragraphContainer .letter.right{
  height: 1%;
  width: 3%;
  height: 0.7em;
}

.paragraphContainer .letter.exists{
  height: 1%;
  width: 3%;
}

.paragraphContainer .letter.wrong{
  height: 1%;
  width: 3%;
}